.App {
  text-align: center;
  background: #000;
  color: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.datepicker-container, .chart-header{
  display: flex;
}

.datepicker-container *, .button-container * {
  color: #fff !important;
}

.datepicker-container > div, .button-container > div {
  display: inline;
  margin: -10px 10px 10px;
}

.button-container > div{
  min-width: auto !important;
  background: transparent !important;
}

.button-container button{
  border-radius: 50% !important;
}

.button-container > div span{
  font-size: 20px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.vis-chart, .vis-time-axis .vis-text{
  color: #fff !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}